<h1>@ViewBag.title</h1>
<form method="post">
	<input id="l" type="number" name="lenght" placeholder="lengt" />
	<input id="w" type="number" name="width" placeholder="width" />
	<button>result</button>

</form>
@if(ViewBag.title!=null){
	<span>
		area=
		@ViewBag.hello
	</span>
}
<script>
	alert(length+innerWidth);
	
</script>